/* ヘッダーのスタイル */
header {
  background-color: #585858; /* 背景色 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 影 */
  height: 80px; /* 高さ */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* 固定位置 */
  top: 0;
  width: 100%;
  z-index: 999; /* 他の要素より手前に表示 */
}


/* ロゴのスタイル */
.logo {
  font-size: 2rem; /* フォントサイズ */
  font-weight: bold;
  color: #fff;
}
